html {
    font-size: 1rem;
    font-family: "Roboto";
}

body {
    margin-top: 50px;
}

.navbar {
    background-color: gray;
    border-bottom: 2px solid red;
}

.nav-item {
    color: white;
    padding: 5px;
}

.navbar .nav li:hover {
    cursor: pointer;
}

.standings-header {
    display: none;
}

.active {
    display: flex;
}